body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana;text-align: center}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:25px;
    border-radius:25px;
    align:center;
    position: absolute;
    right: 500px;
    top: 200px; 
}

